@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,800;1,300&family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

:root {
    --primary:#335dfd;
    --loading-color: rgba(0,0,0,.05);
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#add8e6 30%, #08c2ff 70%, red 100%); 
    font-size: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}

.game-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon {
    width: 500px;
    transition: all 0.2s ease;
    animation: grow 0.5s;
}
#pokemon {
    height: 500px;
}
@keyframes grow {
    0% {width: 0;}
    100% {width: 500px;}
  }
@keyframes minimize {
    0% {width: 500px}
    100% {width: 0;}
}

.captured {
    animation: minimize 1s;
    width: 0;
}

.pokemon, #controls, #pokemon, #input {
    display: flex;
    justify-content: center;
    align-items: center;
}
#counter {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.hidden-pokemon {
    filter: brightness(0%);
}

#play {
    font-size: 1.5rem;
    background-color: aliceblue;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

#input input {
    background-color: azure;
    font-size: 2rem;
    font-weight: 500;
    width: 300px;
    height: 50px;
    border: 5px solid black;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}

#input input::first-letter {
    text-transform: uppercase;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: .3rem;
    position: relative;
    box-shadow: 0 4px 94px var(--loading-color);
}

.loading-wrapper, .loading-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    position: relative;
}

.loading-devover, .loading-devover:after, .loading-devover + .img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.loading-devover {
    border: .7rem solid var(--loading-color);
    border-left-color: var(--primary);
    animation: first 1s linear infinite;
}

.loading-devover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.loading-devover + .img {
    position: absolute;
    background-color: var(--primary);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-devover + .img img {
    width: 100%;
}

@keyframes first {
    0%, 100% {
        transform: rotate(0);
    }
}